body {
    margin: 0;
}

.carta {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.palo {
    font-size: 60px;
    position: absolute;
}

.top-left {
    top: -5%;
    left: 10px;
}

.bottom-right {
    bottom: -5px;
    right: 10px;
    transform: rotate(180deg);
    
}

.valor {
    font-size: 100px;
    text-align: center;
    color: black;
}

.corazon,
.diamante {
    color: red;
}

.picas,
.trebol {
    color: black;
}


